<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ca.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.ca.entity.Role" >
    <id column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="MERCHANT_ID" property="merchantId" jdbcType="DECIMAL" />
    <result column="ROLE_DESC" property="roleDesc" jdbcType="VARCHAR" />
    <result column="ROLE_STATE" property="roleState" jdbcType="CHAR" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="VALUES1" property="values1" jdbcType="VARCHAR" />
    <result column="VALUES2" property="values2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLE_ID, ROLE_NAME, MERCHANT_ID, ROLE_DESC, ROLE_STATE, UPDATE_STAFF, UPDATE_TIME, 
    VALUES1, VALUES2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SYS_D_FUNCROLE
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SYS_D_FUNCROLE
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ca.entity.Role" >
    insert into SYS_D_FUNCROLE (ROLE_ID, ROLE_NAME, MERCHANT_ID, 
      ROLE_DESC, ROLE_STATE, UPDATE_STAFF, 
      UPDATE_TIME, VALUES1, VALUES2
      )
    values (#{roleId,jdbcType=DECIMAL}, #{roleName,jdbcType=VARCHAR}, #{merchantId,jdbcType=DECIMAL}, 
      #{roleDesc,jdbcType=VARCHAR}, #{roleState,jdbcType=CHAR}, #{updateStaff,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{values1,jdbcType=VARCHAR}, #{values2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ca.entity.Role" >
    insert into SYS_D_FUNCROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="merchantId != null" >
        MERCHANT_ID,
      </if>
      <if test="roleDesc != null" >
        ROLE_DESC,
      </if>
      <if test="roleState != null" >
        ROLE_STATE,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="values1 != null" >
        VALUES1,
      </if>
      <if test="values2 != null" >
        VALUES2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=DECIMAL},
      </if>
      <if test="roleDesc != null" >
        #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="roleState != null" >
        #{roleState,jdbcType=CHAR},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="values1 != null" >
        #{values1,jdbcType=VARCHAR},
      </if>
      <if test="values2 != null" >
        #{values2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ca.entity.Role" >
    update SYS_D_FUNCROLE
    <set >
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        MERCHANT_ID = #{merchantId,jdbcType=DECIMAL},
      </if>
      <if test="roleDesc != null" >
        ROLE_DESC = #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="roleState != null" >
        ROLE_STATE = #{roleState,jdbcType=CHAR},
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="values1 != null" >
        VALUES1 = #{values1,jdbcType=VARCHAR},
      </if>
      <if test="values2 != null" >
        VALUES2 = #{values2,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ca.entity.Role" >
    update SYS_D_FUNCROLE
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      MERCHANT_ID = #{merchantId,jdbcType=DECIMAL},
      ROLE_DESC = #{roleDesc,jdbcType=VARCHAR},
      ROLE_STATE = #{roleState,jdbcType=CHAR},
      UPDATE_STAFF = #{updateStaff,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      VALUES1 = #{values1,jdbcType=VARCHAR},
      VALUES2 = #{values2,jdbcType=VARCHAR}
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </update>

  <select id="selectRoleByStaffId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      SELECT A.* FROM SYS_D_FUNCROLE A, SYS_D_STAFF_ROLE B
      WHERE A.ROLE_ID=B.ROLE_ID AND B.STAFF_ID=#{staffId}
  </select>
</mapper>