<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ca.mapper.SmsInterfaceMapper" >
  <resultMap id="BaseResultMap" type="com.ca.entity.SmsInterface" >
    <id column="SMS_NOTICE_ID" property="smsNoticeId" jdbcType="INTEGER" />
    <result column="EPARCHY_CODE" property="eparchyCode" jdbcType="CHAR" />
    <result column="IN_MODE_CODE" property="inModeCode" jdbcType="CHAR" />
    <result column="SMS_CHANNEL_CODE" property="smsChannelCode" jdbcType="CHAR" />
    <result column="SEND_OBJECT_CODE" property="sendObjectCode" jdbcType="INTEGER" />
    <result column="SMS_SEND_OBJECT" property="smsSendObject" jdbcType="VARCHAR" />
    <result column="SEND_TIME_CODE" property="sendTimeCode" jdbcType="INTEGER" />
    <result column="SEND_COUNT_CODE" property="sendCountCode" jdbcType="INTEGER" />
    <result column="RECV_OBJECT_TYPE" property="recvObjectType" jdbcType="CHAR" />
    <result column="RECV_OBJECT" property="recvObject" jdbcType="VARCHAR" />
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="SMS_TYPE_CODE" property="smsTypeCode" jdbcType="CHAR" />
    <result column="SMS_KIND_CODE" property="smsKindCode" jdbcType="CHAR" />
    <result column="NOTICE_CONTENT_TYPE" property="noticeContentType" jdbcType="CHAR" />
    <result column="NOTICE_CONTENT" property="noticeContent" jdbcType="VARCHAR" />
    <result column="REFERED_COUNT" property="referedCount" jdbcType="INTEGER" />
    <result column="FORCE_REFER_COUNT" property="forceReferCount" jdbcType="INTEGER" />
    <result column="FORCE_OBJECT" property="forceObject" jdbcType="VARCHAR" />
    <result column="FORCE_START_TIME" property="forceStartTime" jdbcType="DATE" />
    <result column="FORCE_END_TIME" property="forceEndTime" jdbcType="DATE" />
    <result column="SMS_PRIORITY" property="smsPriority" jdbcType="INTEGER" />
    <result column="REFER_TIME" property="referTime" jdbcType="DATE" />
    <result column="REFER_STAFF_ID" property="referStaffId" jdbcType="CHAR" />
    <result column="REFER_DEPART_ID" property="referDepartId" jdbcType="CHAR" />
    <result column="DEAL_TIME" property="dealTime" jdbcType="DATE" />
    <result column="DEAL_STAFFID" property="dealStaffid" jdbcType="CHAR" />
    <result column="DEAL_DEPARTID" property="dealDepartid" jdbcType="CHAR" />
    <result column="DEAL_STATE" property="dealState" jdbcType="CHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="REVC1" property="revc1" jdbcType="VARCHAR" />
    <result column="REVC2" property="revc2" jdbcType="VARCHAR" />
    <result column="REVC3" property="revc3" jdbcType="VARCHAR" />
    <result column="REVC4" property="revc4" jdbcType="VARCHAR" />
    <result column="MONTH" property="month" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    SMS_NOTICE_ID, EPARCHY_CODE, IN_MODE_CODE, SMS_CHANNEL_CODE, SEND_OBJECT_CODE, SMS_SEND_OBJECT, 
    SEND_TIME_CODE, SEND_COUNT_CODE, RECV_OBJECT_TYPE, RECV_OBJECT, ID, SMS_TYPE_CODE, 
    SMS_KIND_CODE, NOTICE_CONTENT_TYPE, NOTICE_CONTENT, REFERED_COUNT, FORCE_REFER_COUNT, 
    FORCE_OBJECT, FORCE_START_TIME, FORCE_END_TIME, SMS_PRIORITY, REFER_TIME, REFER_STAFF_ID, 
    REFER_DEPART_ID, DEAL_TIME, DEAL_STAFFID, DEAL_DEPARTID, DEAL_STATE, REMARK, REVC1, 
    REVC2, REVC3, REVC4, MONTH
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sms_l_interface
    where SMS_NOTICE_ID = #{smsNoticeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sms_l_interface
    where SMS_NOTICE_ID = #{smsNoticeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ca.entity.SmsInterface" >
    insert into sms_l_interface (SMS_NOTICE_ID, EPARCHY_CODE, IN_MODE_CODE, 
      SMS_CHANNEL_CODE, SEND_OBJECT_CODE, SMS_SEND_OBJECT, 
      SEND_TIME_CODE, SEND_COUNT_CODE, RECV_OBJECT_TYPE, 
      RECV_OBJECT, ID, SMS_TYPE_CODE, 
      SMS_KIND_CODE, NOTICE_CONTENT_TYPE, NOTICE_CONTENT, 
      REFERED_COUNT, FORCE_REFER_COUNT, FORCE_OBJECT, 
      FORCE_START_TIME, FORCE_END_TIME, SMS_PRIORITY, 
      REFER_TIME, REFER_STAFF_ID, REFER_DEPART_ID, 
      DEAL_TIME, DEAL_STAFFID, DEAL_DEPARTID, 
      DEAL_STATE, REMARK, REVC1, 
      REVC2, REVC3, REVC4, 
      MONTH)
    values (#{smsNoticeId,jdbcType=INTEGER}, #{eparchyCode,jdbcType=CHAR}, #{inModeCode,jdbcType=CHAR}, 
      #{smsChannelCode,jdbcType=CHAR}, #{sendObjectCode,jdbcType=INTEGER}, #{smsSendObject,jdbcType=VARCHAR}, 
      #{sendTimeCode,jdbcType=INTEGER}, #{sendCountCode,jdbcType=INTEGER}, #{recvObjectType,jdbcType=CHAR}, 
      #{recvObject,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{smsTypeCode,jdbcType=CHAR}, 
      #{smsKindCode,jdbcType=CHAR}, #{noticeContentType,jdbcType=CHAR}, #{noticeContent,jdbcType=VARCHAR}, 
      #{referedCount,jdbcType=INTEGER}, #{forceReferCount,jdbcType=INTEGER}, #{forceObject,jdbcType=VARCHAR}, 
      #{forceStartTime,jdbcType=DATE}, #{forceEndTime,jdbcType=DATE}, #{smsPriority,jdbcType=INTEGER}, 
      #{referTime,jdbcType=DATE}, #{referStaffId,jdbcType=CHAR}, #{referDepartId,jdbcType=CHAR}, 
      #{dealTime,jdbcType=DATE}, #{dealStaffid,jdbcType=CHAR}, #{dealDepartid,jdbcType=CHAR}, 
      #{dealState,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, #{revc1,jdbcType=VARCHAR}, 
      #{revc2,jdbcType=VARCHAR}, #{revc3,jdbcType=VARCHAR}, #{revc4,jdbcType=VARCHAR}, 
      #{month,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ca.entity.SmsInterface" >
    insert into sms_l_interface
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="smsNoticeId != null" >
        SMS_NOTICE_ID,
      </if>
      <if test="eparchyCode != null" >
        EPARCHY_CODE,
      </if>
      <if test="inModeCode != null" >
        IN_MODE_CODE,
      </if>
      <if test="smsChannelCode != null" >
        SMS_CHANNEL_CODE,
      </if>
      <if test="sendObjectCode != null" >
        SEND_OBJECT_CODE,
      </if>
      <if test="smsSendObject != null" >
        SMS_SEND_OBJECT,
      </if>
      <if test="sendTimeCode != null" >
        SEND_TIME_CODE,
      </if>
      <if test="sendCountCode != null" >
        SEND_COUNT_CODE,
      </if>
      <if test="recvObjectType != null" >
        RECV_OBJECT_TYPE,
      </if>
      <if test="recvObject != null" >
        RECV_OBJECT,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="smsTypeCode != null" >
        SMS_TYPE_CODE,
      </if>
      <if test="smsKindCode != null" >
        SMS_KIND_CODE,
      </if>
      <if test="noticeContentType != null" >
        NOTICE_CONTENT_TYPE,
      </if>
      <if test="noticeContent != null" >
        NOTICE_CONTENT,
      </if>
      <if test="referedCount != null" >
        REFERED_COUNT,
      </if>
      <if test="forceReferCount != null" >
        FORCE_REFER_COUNT,
      </if>
      <if test="forceObject != null" >
        FORCE_OBJECT,
      </if>
      <if test="forceStartTime != null" >
        FORCE_START_TIME,
      </if>
      <if test="forceEndTime != null" >
        FORCE_END_TIME,
      </if>
      <if test="smsPriority != null" >
        SMS_PRIORITY,
      </if>
      <if test="referTime != null" >
        REFER_TIME,
      </if>
      <if test="referStaffId != null" >
        REFER_STAFF_ID,
      </if>
      <if test="referDepartId != null" >
        REFER_DEPART_ID,
      </if>
      <if test="dealTime != null" >
        DEAL_TIME,
      </if>
      <if test="dealStaffid != null" >
        DEAL_STAFFID,
      </if>
      <if test="dealDepartid != null" >
        DEAL_DEPARTID,
      </if>
      <if test="dealState != null" >
        DEAL_STATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="revc1 != null" >
        REVC1,
      </if>
      <if test="revc2 != null" >
        REVC2,
      </if>
      <if test="revc3 != null" >
        REVC3,
      </if>
      <if test="revc4 != null" >
        REVC4,
      </if>
      <if test="month != null" >
        MONTH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="smsNoticeId != null" >
        #{smsNoticeId,jdbcType=INTEGER},
      </if>
      <if test="eparchyCode != null" >
        #{eparchyCode,jdbcType=CHAR},
      </if>
      <if test="inModeCode != null" >
        #{inModeCode,jdbcType=CHAR},
      </if>
      <if test="smsChannelCode != null" >
        #{smsChannelCode,jdbcType=CHAR},
      </if>
      <if test="sendObjectCode != null" >
        #{sendObjectCode,jdbcType=INTEGER},
      </if>
      <if test="smsSendObject != null" >
        #{smsSendObject,jdbcType=VARCHAR},
      </if>
      <if test="sendTimeCode != null" >
        #{sendTimeCode,jdbcType=INTEGER},
      </if>
      <if test="sendCountCode != null" >
        #{sendCountCode,jdbcType=INTEGER},
      </if>
      <if test="recvObjectType != null" >
        #{recvObjectType,jdbcType=CHAR},
      </if>
      <if test="recvObject != null" >
        #{recvObject,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="smsTypeCode != null" >
        #{smsTypeCode,jdbcType=CHAR},
      </if>
      <if test="smsKindCode != null" >
        #{smsKindCode,jdbcType=CHAR},
      </if>
      <if test="noticeContentType != null" >
        #{noticeContentType,jdbcType=CHAR},
      </if>
      <if test="noticeContent != null" >
        #{noticeContent,jdbcType=VARCHAR},
      </if>
      <if test="referedCount != null" >
        #{referedCount,jdbcType=INTEGER},
      </if>
      <if test="forceReferCount != null" >
        #{forceReferCount,jdbcType=INTEGER},
      </if>
      <if test="forceObject != null" >
        #{forceObject,jdbcType=VARCHAR},
      </if>
      <if test="forceStartTime != null" >
        #{forceStartTime,jdbcType=DATE},
      </if>
      <if test="forceEndTime != null" >
        #{forceEndTime,jdbcType=DATE},
      </if>
      <if test="smsPriority != null" >
        #{smsPriority,jdbcType=INTEGER},
      </if>
      <if test="referTime != null" >
        #{referTime,jdbcType=DATE},
      </if>
      <if test="referStaffId != null" >
        #{referStaffId,jdbcType=CHAR},
      </if>
      <if test="referDepartId != null" >
        #{referDepartId,jdbcType=CHAR},
      </if>
      <if test="dealTime != null" >
        #{dealTime,jdbcType=DATE},
      </if>
      <if test="dealStaffid != null" >
        #{dealStaffid,jdbcType=CHAR},
      </if>
      <if test="dealDepartid != null" >
        #{dealDepartid,jdbcType=CHAR},
      </if>
      <if test="dealState != null" >
        #{dealState,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="revc1 != null" >
        #{revc1,jdbcType=VARCHAR},
      </if>
      <if test="revc2 != null" >
        #{revc2,jdbcType=VARCHAR},
      </if>
      <if test="revc3 != null" >
        #{revc3,jdbcType=VARCHAR},
      </if>
      <if test="revc4 != null" >
        #{revc4,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        #{month,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ca.entity.SmsInterface" >
    update sms_l_interface
    <set >
      <if test="eparchyCode != null" >
        EPARCHY_CODE = #{eparchyCode,jdbcType=CHAR},
      </if>
      <if test="inModeCode != null" >
        IN_MODE_CODE = #{inModeCode,jdbcType=CHAR},
      </if>
      <if test="smsChannelCode != null" >
        SMS_CHANNEL_CODE = #{smsChannelCode,jdbcType=CHAR},
      </if>
      <if test="sendObjectCode != null" >
        SEND_OBJECT_CODE = #{sendObjectCode,jdbcType=INTEGER},
      </if>
      <if test="smsSendObject != null" >
        SMS_SEND_OBJECT = #{smsSendObject,jdbcType=VARCHAR},
      </if>
      <if test="sendTimeCode != null" >
        SEND_TIME_CODE = #{sendTimeCode,jdbcType=INTEGER},
      </if>
      <if test="sendCountCode != null" >
        SEND_COUNT_CODE = #{sendCountCode,jdbcType=INTEGER},
      </if>
      <if test="recvObjectType != null" >
        RECV_OBJECT_TYPE = #{recvObjectType,jdbcType=CHAR},
      </if>
      <if test="recvObject != null" >
        RECV_OBJECT = #{recvObject,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        ID = #{id,jdbcType=INTEGER},
      </if>
      <if test="smsTypeCode != null" >
        SMS_TYPE_CODE = #{smsTypeCode,jdbcType=CHAR},
      </if>
      <if test="smsKindCode != null" >
        SMS_KIND_CODE = #{smsKindCode,jdbcType=CHAR},
      </if>
      <if test="noticeContentType != null" >
        NOTICE_CONTENT_TYPE = #{noticeContentType,jdbcType=CHAR},
      </if>
      <if test="noticeContent != null" >
        NOTICE_CONTENT = #{noticeContent,jdbcType=VARCHAR},
      </if>
      <if test="referedCount != null" >
        REFERED_COUNT = #{referedCount,jdbcType=INTEGER},
      </if>
      <if test="forceReferCount != null" >
        FORCE_REFER_COUNT = #{forceReferCount,jdbcType=INTEGER},
      </if>
      <if test="forceObject != null" >
        FORCE_OBJECT = #{forceObject,jdbcType=VARCHAR},
      </if>
      <if test="forceStartTime != null" >
        FORCE_START_TIME = #{forceStartTime,jdbcType=DATE},
      </if>
      <if test="forceEndTime != null" >
        FORCE_END_TIME = #{forceEndTime,jdbcType=DATE},
      </if>
      <if test="smsPriority != null" >
        SMS_PRIORITY = #{smsPriority,jdbcType=INTEGER},
      </if>
      <if test="referTime != null" >
        REFER_TIME = #{referTime,jdbcType=DATE},
      </if>
      <if test="referStaffId != null" >
        REFER_STAFF_ID = #{referStaffId,jdbcType=CHAR},
      </if>
      <if test="referDepartId != null" >
        REFER_DEPART_ID = #{referDepartId,jdbcType=CHAR},
      </if>
      <if test="dealTime != null" >
        DEAL_TIME = #{dealTime,jdbcType=DATE},
      </if>
      <if test="dealStaffid != null" >
        DEAL_STAFFID = #{dealStaffid,jdbcType=CHAR},
      </if>
      <if test="dealDepartid != null" >
        DEAL_DEPARTID = #{dealDepartid,jdbcType=CHAR},
      </if>
      <if test="dealState != null" >
        DEAL_STATE = #{dealState,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="revc1 != null" >
        REVC1 = #{revc1,jdbcType=VARCHAR},
      </if>
      <if test="revc2 != null" >
        REVC2 = #{revc2,jdbcType=VARCHAR},
      </if>
      <if test="revc3 != null" >
        REVC3 = #{revc3,jdbcType=VARCHAR},
      </if>
      <if test="revc4 != null" >
        REVC4 = #{revc4,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        MONTH = #{month,jdbcType=INTEGER},
      </if>
    </set>
    where SMS_NOTICE_ID = #{smsNoticeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ca.entity.SmsInterface" >
    update sms_l_interface
    set EPARCHY_CODE = #{eparchyCode,jdbcType=CHAR},
      IN_MODE_CODE = #{inModeCode,jdbcType=CHAR},
      SMS_CHANNEL_CODE = #{smsChannelCode,jdbcType=CHAR},
      SEND_OBJECT_CODE = #{sendObjectCode,jdbcType=INTEGER},
      SMS_SEND_OBJECT = #{smsSendObject,jdbcType=VARCHAR},
      SEND_TIME_CODE = #{sendTimeCode,jdbcType=INTEGER},
      SEND_COUNT_CODE = #{sendCountCode,jdbcType=INTEGER},
      RECV_OBJECT_TYPE = #{recvObjectType,jdbcType=CHAR},
      RECV_OBJECT = #{recvObject,jdbcType=VARCHAR},
      ID = #{id,jdbcType=INTEGER},
      SMS_TYPE_CODE = #{smsTypeCode,jdbcType=CHAR},
      SMS_KIND_CODE = #{smsKindCode,jdbcType=CHAR},
      NOTICE_CONTENT_TYPE = #{noticeContentType,jdbcType=CHAR},
      NOTICE_CONTENT = #{noticeContent,jdbcType=VARCHAR},
      REFERED_COUNT = #{referedCount,jdbcType=INTEGER},
      FORCE_REFER_COUNT = #{forceReferCount,jdbcType=INTEGER},
      FORCE_OBJECT = #{forceObject,jdbcType=VARCHAR},
      FORCE_START_TIME = #{forceStartTime,jdbcType=DATE},
      FORCE_END_TIME = #{forceEndTime,jdbcType=DATE},
      SMS_PRIORITY = #{smsPriority,jdbcType=INTEGER},
      REFER_TIME = #{referTime,jdbcType=DATE},
      REFER_STAFF_ID = #{referStaffId,jdbcType=CHAR},
      REFER_DEPART_ID = #{referDepartId,jdbcType=CHAR},
      DEAL_TIME = #{dealTime,jdbcType=DATE},
      DEAL_STAFFID = #{dealStaffid,jdbcType=CHAR},
      DEAL_DEPARTID = #{dealDepartid,jdbcType=CHAR},
      DEAL_STATE = #{dealState,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      REVC1 = #{revc1,jdbcType=VARCHAR},
      REVC2 = #{revc2,jdbcType=VARCHAR},
      REVC3 = #{revc3,jdbcType=VARCHAR},
      REVC4 = #{revc4,jdbcType=VARCHAR},
      MONTH = #{month,jdbcType=INTEGER}
    where SMS_NOTICE_ID = #{smsNoticeId,jdbcType=INTEGER}
  </update>
</mapper>