<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ca.mapper.SmsSendTimeMapper" >
  <resultMap id="BaseResultMap" type="com.ca.entity.SmsSendTime" >
    <id column="SEND_TIME_CODE" property="sendTimeCode" jdbcType="INTEGER" />
    <id column="EPARCHY_CODE" property="eparchyCode" jdbcType="CHAR" />
    <result column="SEND_TIME_DESC" property="sendTimeDesc" jdbcType="VARCHAR" />
    <result column="SMS_CHANNEL_CODE" property="smsChannelCode" jdbcType="CHAR" />
    <result column="SMS_START_DATE" property="smsStartDate" jdbcType="CHAR" />
    <result column="SMS_END_DATE" property="smsEndDate" jdbcType="CHAR" />
    <result column="SMS_START_TIME" property="smsStartTime" jdbcType="CHAR" />
    <result column="SMS_END_TIME" property="smsEndTime" jdbcType="CHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="UPDATE_STAFF_ID" property="updateStaffId" jdbcType="CHAR" />
    <result column="UPDATE_DEPART_ID" property="updateDepartId" jdbcType="CHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    SEND_TIME_CODE, EPARCHY_CODE, SEND_TIME_DESC, SMS_CHANNEL_CODE, SMS_START_DATE, SMS_END_DATE, 
    SMS_START_TIME, SMS_END_TIME, REMARK, UPDATE_STAFF_ID, UPDATE_DEPART_ID, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ca.entity.SmsSendTimeKey" >
    select 
    <include refid="Base_Column_List" />
    from sms_d_sendtime
    where SEND_TIME_CODE = #{sendTimeCode,jdbcType=INTEGER}
      and EPARCHY_CODE = #{eparchyCode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ca.entity.SmsSendTimeKey" >
    delete from sms_d_sendtime
    where SEND_TIME_CODE = #{sendTimeCode,jdbcType=INTEGER}
      and EPARCHY_CODE = #{eparchyCode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.ca.entity.SmsSendTime" >
    insert into sms_d_sendtime (SEND_TIME_CODE, EPARCHY_CODE, SEND_TIME_DESC, 
      SMS_CHANNEL_CODE, SMS_START_DATE, SMS_END_DATE, 
      SMS_START_TIME, SMS_END_TIME, REMARK, 
      UPDATE_STAFF_ID, UPDATE_DEPART_ID, UPDATE_TIME
      )
    values (#{sendTimeCode,jdbcType=INTEGER}, #{eparchyCode,jdbcType=CHAR}, #{sendTimeDesc,jdbcType=VARCHAR}, 
      #{smsChannelCode,jdbcType=CHAR}, #{smsStartDate,jdbcType=CHAR}, #{smsEndDate,jdbcType=CHAR}, 
      #{smsStartTime,jdbcType=CHAR}, #{smsEndTime,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, 
      #{updateStaffId,jdbcType=CHAR}, #{updateDepartId,jdbcType=CHAR}, #{updateTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ca.entity.SmsSendTime" >
    insert into sms_d_sendtime
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sendTimeCode != null" >
        SEND_TIME_CODE,
      </if>
      <if test="eparchyCode != null" >
        EPARCHY_CODE,
      </if>
      <if test="sendTimeDesc != null" >
        SEND_TIME_DESC,
      </if>
      <if test="smsChannelCode != null" >
        SMS_CHANNEL_CODE,
      </if>
      <if test="smsStartDate != null" >
        SMS_START_DATE,
      </if>
      <if test="smsEndDate != null" >
        SMS_END_DATE,
      </if>
      <if test="smsStartTime != null" >
        SMS_START_TIME,
      </if>
      <if test="smsEndTime != null" >
        SMS_END_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="updateStaffId != null" >
        UPDATE_STAFF_ID,
      </if>
      <if test="updateDepartId != null" >
        UPDATE_DEPART_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sendTimeCode != null" >
        #{sendTimeCode,jdbcType=INTEGER},
      </if>
      <if test="eparchyCode != null" >
        #{eparchyCode,jdbcType=CHAR},
      </if>
      <if test="sendTimeDesc != null" >
        #{sendTimeDesc,jdbcType=VARCHAR},
      </if>
      <if test="smsChannelCode != null" >
        #{smsChannelCode,jdbcType=CHAR},
      </if>
      <if test="smsStartDate != null" >
        #{smsStartDate,jdbcType=CHAR},
      </if>
      <if test="smsEndDate != null" >
        #{smsEndDate,jdbcType=CHAR},
      </if>
      <if test="smsStartTime != null" >
        #{smsStartTime,jdbcType=CHAR},
      </if>
      <if test="smsEndTime != null" >
        #{smsEndTime,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateStaffId != null" >
        #{updateStaffId,jdbcType=CHAR},
      </if>
      <if test="updateDepartId != null" >
        #{updateDepartId,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ca.entity.SmsSendTime" >
    update sms_d_sendtime
    <set >
      <if test="sendTimeDesc != null" >
        SEND_TIME_DESC = #{sendTimeDesc,jdbcType=VARCHAR},
      </if>
      <if test="smsChannelCode != null" >
        SMS_CHANNEL_CODE = #{smsChannelCode,jdbcType=CHAR},
      </if>
      <if test="smsStartDate != null" >
        SMS_START_DATE = #{smsStartDate,jdbcType=CHAR},
      </if>
      <if test="smsEndDate != null" >
        SMS_END_DATE = #{smsEndDate,jdbcType=CHAR},
      </if>
      <if test="smsStartTime != null" >
        SMS_START_TIME = #{smsStartTime,jdbcType=CHAR},
      </if>
      <if test="smsEndTime != null" >
        SMS_END_TIME = #{smsEndTime,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateStaffId != null" >
        UPDATE_STAFF_ID = #{updateStaffId,jdbcType=CHAR},
      </if>
      <if test="updateDepartId != null" >
        UPDATE_DEPART_ID = #{updateDepartId,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
    </set>
    where SEND_TIME_CODE = #{sendTimeCode,jdbcType=INTEGER}
      and EPARCHY_CODE = #{eparchyCode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ca.entity.SmsSendTime" >
    update sms_d_sendtime
    set SEND_TIME_DESC = #{sendTimeDesc,jdbcType=VARCHAR},
      SMS_CHANNEL_CODE = #{smsChannelCode,jdbcType=CHAR},
      SMS_START_DATE = #{smsStartDate,jdbcType=CHAR},
      SMS_END_DATE = #{smsEndDate,jdbcType=CHAR},
      SMS_START_TIME = #{smsStartTime,jdbcType=CHAR},
      SMS_END_TIME = #{smsEndTime,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      UPDATE_STAFF_ID = #{updateStaffId,jdbcType=CHAR},
      UPDATE_DEPART_ID = #{updateDepartId,jdbcType=CHAR},
      UPDATE_TIME = #{updateTime,jdbcType=DATE}
    where SEND_TIME_CODE = #{sendTimeCode,jdbcType=INTEGER}
      and EPARCHY_CODE = #{eparchyCode,jdbcType=CHAR}
  </update>
</mapper>