<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ca.mapper.StaffRoleMapper" >
  <resultMap id="BaseResultMap" type="com.ca.entity.StaffRole" >
    <id column="STAFF_ID" property="staffId" jdbcType="DECIMAL" />
    <id column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    <result column="UPDATE_STAFF" property="updateStaff" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="VALUES1" property="values1" jdbcType="VARCHAR" />
    <result column="VALUES2" property="values2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    STAFF_ID, ROLE_ID, UPDATE_STAFF, UPDATE_TIME, VALUES1, VALUES2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ca.entity.StaffRoleKey" >
    select 
    <include refid="Base_Column_List" />
    from SYS_D_STAFF_ROLE
    where STAFF_ID = #{staffId,jdbcType=DECIMAL}
      and ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ca.entity.StaffRoleKey" >
    delete from SYS_D_STAFF_ROLE
    where STAFF_ID = #{staffId,jdbcType=DECIMAL}
      and ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ca.entity.StaffRole" >
    insert into SYS_D_STAFF_ROLE (STAFF_ID, ROLE_ID, UPDATE_STAFF, 
      UPDATE_TIME, VALUES1, VALUES2
      )
    values (#{staffId,jdbcType=DECIMAL}, #{roleId,jdbcType=DECIMAL}, #{updateStaff,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{values1,jdbcType=VARCHAR}, #{values2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ca.entity.StaffRole" >
    insert into SYS_D_STAFF_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="staffId != null" >
        STAFF_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="updateStaff != null" >
        UPDATE_STAFF,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="values1 != null" >
        VALUES1,
      </if>
      <if test="values2 != null" >
        VALUES2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="staffId != null" >
        #{staffId,jdbcType=DECIMAL},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="updateStaff != null" >
        #{updateStaff,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="values1 != null" >
        #{values1,jdbcType=VARCHAR},
      </if>
      <if test="values2 != null" >
        #{values2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ca.entity.StaffRole" >
    update SYS_D_STAFF_ROLE
    <set >
      <if test="updateStaff != null" >
        UPDATE_STAFF = #{updateStaff,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="values1 != null" >
        VALUES1 = #{values1,jdbcType=VARCHAR},
      </if>
      <if test="values2 != null" >
        VALUES2 = #{values2,jdbcType=VARCHAR},
      </if>
    </set>
    where STAFF_ID = #{staffId,jdbcType=DECIMAL}
      and ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ca.entity.StaffRole" >
    update SYS_D_STAFF_ROLE
    set UPDATE_STAFF = #{updateStaff,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      VALUES1 = #{values1,jdbcType=VARCHAR},
      VALUES2 = #{values2,jdbcType=VARCHAR}
    where STAFF_ID = #{staffId,jdbcType=DECIMAL}
      and ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </update>
</mapper>