.tipsLayer{width:359px;overflow:hidden;}
<!--.tipsLayerT{width:359px;height:35px;background:url(../images/layer/tipsLayerTOrange.png) no-repeat;}-->
.tipsLayerT{width:359px;height:35px;background:url(../images/layer/tipsLayerTOrange.png) no-repeat;}
.tipsLayerT span{float:left;margin:10px 0 0 20px;color:#fff;font-weight:600;}
.tipsLayerT label{float:right;display:inline-block;width:14px;height:14px;margin:10px 14px 0 0;cursor:pointer;}

.tipsLayerM{width:359px;overflow:auto;padding-bottom:30px;background:url(../images/layer/tipsLayerM.png) repeat-y;}
.tipsLayerM p{width:316px;overflow:auto;margin:25px auto;}
.tipsLayerM p.textCenter{text-align:center;}
.tipsLayerM p.margin10{margin:10px auto;}
.tipsLayerM p.textLeft{text-align:left;padding:0 20px;}
.tipsLayerM p.textCenter{text-align:center;padding:0 20px;}

.tipsLayerM .layerBtn{width:190px;height:23px;margin:0 auto;}
.tipsLayerM .layerBtn a{float:left;display:block;width:81px;height:19px;_height:20px;padding-top:4px;_padding-top:3px;text-align:center;text-decoration:none;background:url(../images/layer/tipsLayerBtn.gif) no-repeat;}
.tipsLayerM .layerBtn .blueBtn{background-position:0 0;margin-right:28px;color:#fff;}
.tipsLayerM .layerBtn .whiteBtn{background-position:0 -23px;}

.tipsLayerM dl{width:316px;overflow:auto;margin:10px auto;}

.tipsLayerM dl dt,.tipsLayerM dl dd{float:left;}
.tipsLayerM dl dt{width:65px;overflow:auto;}
.tipsLayerM dl dd{width:250px;overflow:auto;}

.tipsLayerM dl.DlTwo{margin-bottom:20px;}
.tipsLayerM dl.DlTwo dt,.tipsLayerM dl dd{float:left;}
.tipsLayerM dl.DlTwo dt{width:100px;overflow:auto;}
.tipsLayerM dl.DlTwo dd{width:216px;overflow:auto;}

.marginLeft{margin-left:54px;_margin-left:27px;}

.tipsLayerB{width:359px;height:9px;font-size:9px;line-height:9px;background:url(../images/layer/tipsLayerB.png) no-repeat;}
.layerIndex {z-index:10000002;}
.layerIndexManage {z-index:10000003;}