/* ============================================================
Component:Buttons
============================================================= */
.mbtn {
  font-size: 14px !important;
  cursor: pointer;
  border: none;
  padding: 3px;
  font-size: 15px;
  font-size: 1.0em;
  width: 120px;
  height: 40px;
}
.mbtn-default {
  background: #3071a9;
  color: #FFF;
}
.mbtn-default:hover {
  background: #1abc9c;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.mbtn-primary {
  background: #ff6600;
  font-weight: bolder;
  color: #FFF;
}
.mbtn-primary:hover {
  background: #F22D00;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.mbtn-success {
  background-color: #5cb85c;
  font-weight: bolder;
  color: #FFF;
}
.mbtn-success:hover {
  background: #398439;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.mbtn-shop {
  background-color: #5cb85c;
  font-weight: bolder;
  color: #FFF;
  width: 100px;
  height: 30px;
}
.mbtn-shop:hover {
  background: #398439;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.mbtn-danger {
  background-color: #c9302c;
  font-weight: bolder;
  color: #FFF;
}
.mbtn-danger:hover {
  background: #ac2925;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.mbtn-warning {
  background-color: #ec971f;
  font-weight: bolder;
  color: #FFF;
}
.mbtn-warning:hover {
  background: #d58512;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.mbtn-info {
  background-color: #ff6600;
  font-size: 12px !important;
  height: 26px;
  width: 110px;
  color: #FFF;
}
.mbtn-info:hover {
  background: #F22D00;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.mbtn-pay {
  background-color: #ff6600;
  font-weight: bolder;
  width: 100px;
  height: 30px;
  color: #FFF;
}
.mbtn-pay:hover {
  background: #F22D00;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.mbtn-confirm {
  background-color: #269abc;
  font-size: 12px !important;
  height: 33px;
  width: 60px;
  color: #FFF;
}
.mbtn-confirm:hover {
  background: #31b0d5;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.mbtn-cancel {
  background-color: #e6e6e6;
  font-size: 12px !important;
  height: 26px;
  width: 60px;
  color: #333;
}
.mbtn-cancel:hover {
  background: #adadad;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.mbtn-default:focus, .mbtn-primary:focus, .mbtn-success:focus, .mbtn-danger:focus, .mbtn-confirm:focus, .mbtn-cancel:focus, .mbtn-info:focus, .mbtn-warning:focus, .mbtn-pay:focus {
  outline: 0;
  border: 1px solid #999;
}
.mbtn-default:active, .mbtn-primary:active, .mbtn-success:active, .mbtn-danger:active, .mbtn-confirm:active, .mbtn-cancel:active, .mbtn-info:active, .mbtn-warning:active, .mbtn-pay:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* buttons css end */
/* ======================================================
Form css begin
=========================== ============================= */
.input-gp {
  /* position: relative;
  */
  display: table;
  /* border-collapse: separate;
  */
  /* z-index: 2;
  */
  margin-bottom: 10px;
}
.input-gp #min:hover {
  background-color: #ccc;
}
.input-gp #add:hover {
  background-color: #ccc;
}
.input-gp span.check-suc {
  margin-left: 10px;
  color: green;
}
.input-gp span.check-err {
  margin-left: 10px;
  color: red;
}
.input-gp-addon {
  display: table-cell;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  width: 44px;
  /* width: 2%;
  */
  white-space: nowrap;
  vertical-align: middle;
}
.input-gp textarea {
  display: block;
  /* width: 100%;
  */
  /* height: 34px;
  */
  width: 400px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-gp input {
  /* font-family: 'FontAwesome';
  */
  /* font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
  */
  border: 1px solid #CCC;
  background: #FFF;
  /* margin: 0 0 5px;
  */
  padding: 0 0 0 10px;
  font-size: 14px;
  height: 30px;
  width: 100%;
  /* z-index: 2;
  */
  float: left;
  border-radius: 0;
}

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  /*height: 33px;*/
  width: 150px;
  background: #fff;
  border: 1px solid #ccc;
  /*border-color: #ccc #ccc #ccc;*/
  /*border-radius: 3px;*/
  /*background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));*/
  /*background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));*/
  /*background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));*/
  /*background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));*/
  /*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);*/
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);*/
}
.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888 transparent;
  pointer-events: none;
}
.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 110%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #000;
  text-shadow: 0 1px white;
  /* Fallback for IE 8 */
  background: #fff;
  /* "transparent" doesn't work with Opera */
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #000;
  outline: 0;
  /*outline: 1px solid #ff6600;*/
  /*outline: 1px solid -webkit-focus-ring-color;*/
  outline-offset: -2px;
}
.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #fff;
  /*border-radius: 3px;*/
  cursor: pointer;
}

.input-gp input:hover, .input-gp textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #ff6600; /* #c2ecff */
}
.input-gp input:focus, .input-gp textarea:focus{
  outline: 0;
  border: 1px solid #ff6600; /* #c2ecff */
}
.input-gp input.input-lt {
  width: 40px;
}
.input-gp input.input-mi {
  width: 130px;
}
.input-gp input.input-sm {
  width: 200px;
}
.input-gp input.input-lg {
  width: 400px;
}

/* Form css end */
/* ==========================================================
Table Css begin
=========================================================== */
table {
  max-width: 100%;
  background-color: transparent;
  empty-cells: show;
}
table code {
  white-space: normal;
}
th {
  text-align: left;
}
.m-table {
  width: 100%;
  margin-bottom: 1.6rem;
}
.m-table > thead > tr > th, .m-table > tbody > tr > th, .m-table > tfoot > tr > th, .m-table > thead > tr > td, .m-table > tbody > tr > td, .m-table > tfoot > tr > td {
  padding: 0.7rem;
  padding: 7px;
  line-height: 1.6;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.m-table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.m-table > caption + thead > tr:first-child > th, .m-table > colgroup + thead > tr:first-child > th, .m-table > thead:first-child > tr:first-child > th, .m-table > caption + thead > tr:first-child > td, .m-table > colgroup + thead > tr:first-child > td, .m-table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.m-table > tbody + tbody {
  border-top: 2px solid #dddddd;
}

/* Bordered version */
.m-table-bordered {
  border: 1px solid #dddddd;
}
.m-table-bordered > thead > tr > th, .m-table-bordered > tbody > tr > th, .m-table-bordered > tfoot > tr > th, .m-table-bordered > thead > tr > td, .m-table-bordered > tbody > tr > td, .m-table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.m-table-bordered > thead > tr > th, .m-table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

/* Zebra-striping */
.m-table-striped > tbody > tr:nth-child(odd) > td, .m-table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

/* Hover effect */
.m-table-hover > tbody > tr:hover > td, .m-table-hover > tbody > tr:hover > th {
  background-color: #e9e9e9;
}
.m-table > thead > tr > td.m-active, .m-table > tbody > tr > td.m-active, .m-table > tfoot > tr > td.m-active, .m-table > thead > tr > th.m-active, .m-table > tbody > tr > th.m-active, .m-table > tfoot > tr > th.m-active, .m-table > thead > tr.m-active > td, .m-table > tbody > tr.m-active > td, .m-table > tfoot > tr.m-active > td, .m-table > thead > tr.m-active > th, .m-table > tbody > tr.m-active > th, .m-table > tfoot > tr.m-active > th {
  background-color: #ffffdd;
}
.m-table > thead > tr > td.m-disabled, .m-table > tbody > tr > td.m-disabled, .m-table > tfoot > tr > td.m-disabled, .m-table > thead > tr > th.m-disabled, .m-table > tbody > tr > th.m-disabled, .m-table > tfoot > tr > th.m-disabled, .m-table > thead > tr.m-disabled > td, .m-table > tbody > tr.m-disabled > td, .m-table > tfoot > tr.m-disabled > td, .m-table > thead > tr.m-disabled > th, .m-table > tbody > tr.m-disabled > th, .m-table > tfoot > tr.m-disabled > th {
  color: #999999;
}
.m-table > thead > tr > td.m-primary, .m-table > tbody > tr > td.m-primary, .m-table > tfoot > tr > td.m-primary, .m-table > thead > tr > th.m-primary, .m-table > tbody > tr > th.m-primary, .m-table > tfoot > tr > th.m-primary, .m-table > thead > tr.m-primary > td, .m-table > tbody > tr.m-primary > td, .m-table > tfoot > tr.m-primary > td, .m-table > thead > tr.m-primary > th, .m-table > tbody > tr.m-primary > th, .m-table > tfoot > tr.m-primary > th {
  color: #0b76ac;
  background-color: rgba(14, 144, 210, 0.115);
}
.m-table > thead > tr > td.m-success, .m-table > tbody > tr > td.m-success, .m-table > tfoot > tr > td.m-success, .m-table > thead > tr > th.m-success, .m-table > tbody > tr > th.m-success, .m-table > tfoot > tr > th.m-success, .m-table > thead > tr.m-success > td, .m-table > tbody > tr.m-success > td, .m-table > tfoot > tr.m-success > td, .m-table > thead > tr.m-success > th, .m-table > tbody > tr.m-success > th, .m-table > tfoot > tr.m-success > th {
  color: #5eb95e;
  background-color: rgba(94, 185, 94, 0.115);
}
.m-table > thead > tr > td.m-warning, .m-table > tbody > tr > td.m-warning, .m-table > tfoot > tr > td.m-warning, .m-table > thead > tr > th.m-warning, .m-table > tbody > tr > th.m-warning, .m-table > tfoot > tr > th.m-warning, .m-table > thead > tr.m-warning > td, .m-table > tbody > tr.m-warning > td, .m-table > tfoot > tr.m-warning > td, .m-table > thead > tr.m-warning > th, .m-table > tbody > tr.m-warning > th, .m-table > tfoot > tr.m-warning > th {
  color: #f37b1d;
  background-color: rgba(243, 123, 29, 0.115);
}
.m-table > thead > tr > td.m-danger, .m-table > tbody > tr > td.m-danger, .m-table > tfoot > tr > td.m-danger, .m-table > thead > tr > th.m-danger, .m-table > tbody > tr > th.m-danger, .m-table > tfoot > tr > th.m-danger, .m-table > thead > tr.m-danger > td, .m-table > tbody > tr.m-danger > td, .m-table > tfoot > tr.m-danger > td, .m-table > thead > tr.m-danger > th, .m-table > tbody > tr.m-danger > th, .m-table > tfoot > tr.m-danger > th {
  color: #dd514c;
  background-color: rgba(221, 81, 76, 0.115);
}

/* ==========================================================================
Component:Pagination
============================================================================ */
.m-pagination {
  padding-left: 0;
  margin: 1.5rem 0;
  list-style: none;
  color: #999999;
  text-align: left;
}
.m-pagination:before, .m-pagination:after {
  content: " ";
  display: table;
}
.m-pagination:after {
  clear: both;
}
.m-pagination > li {
  display: inline-block;
}
.m-pagination > li > a, .m-pagination > li > span {
  position: relative;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  line-height: 1.2;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0;
  margin-bottom: 5px;
  margin-right: 5px;
}
.m-pagination > li:last-child > a, .m-pagination > li:last-child > span {
  margin-right: 0;
}
.m-pagination > li > a:hover, .m-pagination > li > span:hover, .m-pagination > li > a:focus, .m-pagination > li > span:focus {
  background-color: #eeeeee;
}
.m-pagination > .m-active > a, .m-pagination > .m-active > span, .m-pagination > .m-active > a:hover, .m-pagination > .m-active > span:hover, .m-pagination > .m-active > a:focus, .m-pagination > .m-active > span:focus {
  z-index: 2;
  color: #ffffff;
  /*background-color: #0e90d2;*/
  background-color: #ff6600;
  /*border-color: #0e90d2;*/
  border-color: #ff6600;
  cursor: default;
}
.m-pagination > .m-disabled > span, .m-pagination > .m-disabled > span:hover, .m-pagination > .m-disabled > span:focus, .m-pagination > .m-disabled > a, .m-pagination > .m-disabled > a:hover, .m-pagination > .m-disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
  pointer-events: none;
}
.m-pagination .m-pagination-prev {
  float: left;
}
.m-pagination .m-pagination-prev a {
  border-radius: 0;
}
.m-pagination .m-pagination-next {
  float: right;
}
.m-pagination .m-pagination-next a {
  border-radius: 0;
}
.m-pagination-centered {
  text-align: center;
}
.m-pagination-right {
  text-align: right;
}
/*Pagination end*/
/* Progress container */
.m-progress {
  overflow: hidden;
  height: 2rem;
  margin-bottom: 2rem;
  background-color: #f5f5f5;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* ==========================================================================
Component:Breadcrumb
============================================================================ */
.m-breadcrumb {
  padding: .7em .5em;
  margin-bottom: 2rem;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  font-size: 85%;
}
.m-breadcrumb > li {
  display: inline-block;
}
.m-breadcrumb > li [class*="m-icon-"]:before {
  color: #999999;
  margin-right: 5px;
}
.m-breadcrumb > li + li:before {
  content: "»\00a0";
  padding: 0 8px;
  color: #cccccc;
}
.m-breadcrumb > .m-active {
  color: #999999;
}
.m-breadcrumb-slash > li + li:before {
  content: "/\00a0";
}
#breadcrumb {
  font-size: 12px;
  list-style: none;
  display: inline-block
}
#breadcrumb .icon {
  font-size: 12px
}
#breadcrumb .icon-pass {
  background-color: #999
}
#breadcrumb .icon-active {
  background-color: #ff6600
}
#breadcrumb li {
  float: left
}
#breadcrumb li span {
  color: #FFF;
  display: block;
  background: #ff6600;
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
  font-weight: 400!important;
}
#breadcrumb li:first-child span {
  padding-left: 25px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child span:before {
  border: none;
}

#breadcrumb li:first-child span.icon-active {
  padding-left: 25px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child span.icon-active:before {
  border: none;
}

#breadcrumb li:last-child span {
  padding-right: 15px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child span:after {
  border: none;
}

#breadcrumb li:last-child span.icon-active {
  padding-right: 15px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child span.icon-active:after {
  border: none;
}
#breadcrumb li span:before, #breadcrumb li span:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #999;
  border-width: 15px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li span:before {
  left: -20px;
  border-left-color: transparent
}
#breadcrumb li span:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #999;
}
#breadcrumb li span.icon-active:before, #breadcrumb li span.icon-active:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #ff6600;
  border-width: 15px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li span.icon-active:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li span.icon-active:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #ff6600;
}

/* breadcrumb css end */
/* Progress bar */
.m-progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #ffffff;
  text-align: center;
  background-color: #0e90d2;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}
.m-progress-striped .m-progress-bar {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 36px 36px;
  background-size: 36px 36px;
}
.m-progress.m-active .m-progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.m-progress-bar[aria-valuenow="1"], .m-progress-bar[aria-valuenow="2"] {
  min-width: 30px;
}
.m-progress-bar[aria-valuenow="0"] {
  color: #999999;
  min-width: 30px;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.m-progress-bar-secondary {
  background-color: #3bb4f2;
}
.m-progress-bar-disable {
  background-color: #ccc;
}
.m-progress-striped .m-progress-bar-secondary .m-progress-bar-disable {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.m-progress-bar-success {
  background-color: #5eb95e;
}
.m-progress-striped .m-progress-bar-success {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.m-progress-bar-warning {
  background-color: #f37b1d;
}
.m-progress-striped .m-progress-bar-warning {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.m-progress-bar-danger {
  background-color: #dd514c;
}
.m-progress-striped .m-progress-bar-danger {
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.m-progress-xs {
  height: 0.6rem;
}
.m-progress-sm {
  height: 1.2rem;
}
/*progress css end